/out
/platform/build_ver.h
cscope.*
tags*
mktags.sh
*.old
*.docx
*.o
*.d
*.swp
*.swo
*.o.cmd
*.mod
modules.order
*.ko
*.mod.c
*.symvers
*.pyc
*.bak
*.nrc.ko.cmd
*.pyc
*.list
.config
.config.old
.*.cmd
autoconf*
*.cfg
*.map
*.sym
*Zone.Identifier
kernel/FreeRTOS/core
include/FreeRTOS
include/config/
include/config.h
/wise*
wise.cfg.configs
wise.ram
/wise.lds
mkimage
jpat
.cproject
.project
.settings
hal/soc/scm2010/func_tab.txt
hal/soc/scm2010/wise.rom.ld
hal/soc/scm2010/wise_rom
hal/soc/scm2010/wise_rom.dis
privkey*
pubkey*
.vscode
*.inc
