#
# SPI flash driver and memory configuration
#

menu "SPI flash drivers"

config SPI_FLASH
	bool "Enable SPI flash driver framework"
	help
	   Enable driver model for SPI flash.

if SPI_FLASH

comment "SPI flash controller"

config SPI_FLASH_CONTROLLER_ADC
	bool "ADChip's SPI flash controller driver"
	depends on SPI_FLASH

config SPI_FLASH_CONTROLLER_SANDBOX
       bool "Sandbox SPI flash controller driver"
       depends on SPI_FLASH && SANDBOX

config ATCSPI200
	bool "AndeShape (tm) ATCSPI200 driver"

if ATCSPI200

config ATCSPI200_COMPACT
    bool "ATCSPI200 small size compact driver"
    default y

config ATCSPI_SCLK_HZ
	int "ATCSPI SCLK frequency"
	default 60000000
endif

config FLASH_DEFAULT_MAP
	bool "Use a default map for a new flash device"
	default y

config FLASH_DEBUG_VERBOSITY
	int "Control verbosity of spi-flash driver"
	default 1
	help
	  0 : no debug
	  1 : error only
	  2 : fully verbose

comment "SPI flash memory"

config SPI_FLASH_ATMEL
	bool "Atmel SPI flash support"
	help
	  Add support for various Atmel SPI flash chips (AT45xxx and AT25xxx)

config SPI_FLASH_EON
	bool "EON SPI flash support"
	help
	  Add support for various EON SPI flash chips (EN25xxx)

config SPI_FLASH_GIGADEVICE
	bool "GigaDevice SPI flash support"
	help
	  Add support for various GigaDevice SPI flash chips (GD25xxx)

 config SPI_FLASH_GIANTEC
    bool "Giantec SPI flash support"
    help
	  Add support for various Giantec SPI flash chips (GT25xxx)

config SPI_FLASH_MACRONIX
	bool "Macronix SPI flash support"
	help
	  Add support for various Macronix SPI flash chips (MX25Lxxx)

config SPI_FLASH_SPANSION
	bool "Spansion SPI flash support"
	help
	  Add support for various Spansion SPI flash chips (S25FLxxx)

config SPI_FLASH_STMICRO
	bool "STMicro SPI flash support"
	help
	  Add support for various STMicro SPI flash chips (M25Pxxx and N25Qxxx)

config SPI_FLASH_SST
	bool "Microchip SST SPI flash support"
	help
	  Add support for various SST SPI flash chips (SST25xxx and SST26xxx)

config SPI_FLASH_WINBOND
	bool "Winbond SPI flash support"
	help
	  Add support for various Winbond SPI flash chips (W25xxx)

config SPI_FLASH_XTX
	bool "XTX SPI flash support"
	help
	  Add support for various XTX SPI flash chips (xt25xxx)

config SPI_FLASH_PUYA
	bool "Puya SPI flash support"
	help
	  Add support for various Puya SPI flash chips (P25Qxxxx)

config SPI_FLASH_ZBIT
	bool "ZBIT SPI flash support"
	help
	  Add support for various ZBIT SPI flash chips (ZB25xxxx)

config SPI_FLASH_XMC
	bool "XMC SPI flash support"
	help
	  Add support for various XMC SPI flash chips (XMCxxxx)


endif

endmenu # menu "SPI Flash Support"
