#
# Copyright 2022 Ayla Networks, Inc.  All rights reserved.
#
# The common configuration for all platforms.
#

#
# Limit the log level.
#
CONFIG_LOG_COLORS=n
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y

#
# Require 4M bytes flash to support OTA.
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

#
# Set the offset of the partition table to support the large bootloader.
#
CONFIG_PARTITION_TABLE_OFFSET=0xe000

#
# Customize the partition table.
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="ayla_flash_partitions_v3.csv"

#
# Optimized system configurations.
#
CONFIG_ESP_NETIF_TCPIP_ADAPTER_COMPATIBLE_LAYER=n
CONFIG_ESP32_WIFI_CSI_ENABLED=y
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=16
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM=16
CONFIG_ESP32_WIFI_IRAM_OPT=n
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=6
CONFIG_ESP32_WIFI_SW_COEXIST_ENABLE=n
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=2
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=n
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_LWIP_ETHARP_TRUST_IP_MAC=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_LWIP_TCP_MSS=1220
CONFIG_LWIP_TCP_OVERSIZE_MSS=n
CONFIG_LWIP_TCP_OVERSIZE_QUARTER_MSS=y
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=2440
CONFIG_LWIP_TCP_SYNMAXRTX=6
CONFIG_LWIP_TCP_WND_DEFAULT=2440
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=24
CONFIG_SPI_SLAVE_ISR_IN_IRAM=n

#
# Customize the memory management for MBEDTLS.
#
CONFIG_MBEDTLS_CUSTOM_MEM_ALLOC=y

#
# Disable trusted root certificate bundle.
#
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n

#
# Disable the TLS 1.0 and 1.1
#
CONFIG_MBEDTLS_SSL_PROTO_TLS1=n
CONFIG_MBEDTLS_SSL_PROTO_TLS1_1=n

#
# Enable certificate expiry check.
#
CONFIG_MBEDTLS_HAVE_TIME_DATE=y

#
# Only need the TLS client.
#
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y

#
# Disable support for PSK (pre-shared key) modes.
#
CONFIG_MBEDTLS_KEY_EXCHANGE_DHE_PSK=n
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK=n
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=n
CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_PSK=n
CONFIG_MBEDTLS_PSK_MODES=n

#
# Enable core dump.
#
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_ESP_COREDUMP_CHECKSUM_SHA256=y
CONFIG_ESP_COREDUMP_MAX_TASKS_NUM=16

#
# Enable the task tracking to optimize the stack size.
#
CONFIG_HEAP_TASK_TRACKING=y
CONFIG_HEAP_POISONING_COMPREHENSIVE=y

#
# Enable Bluetooth.
#
CONFIG_BT_ENABLED=y

#
# Enable Bluetooth nimble.
#
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y
CONFIG_BT_NIMBLE_ACL_BUF_COUNT=12
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=512
CONFIG_BT_NIMBLE_MAX_BONDS=5
CONFIG_BT_NIMBLE_MAX_CCCDS=15
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n

#
# Enable watchdog.
#
CONFIG_ESP_TASK_WDT_PANIC=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=25

#
# Disable Ethernet interface.
#
CONFIG_ETH_USE_SPI_ETHERNET=n
