menu "I2C Support"

config I2C
	bool "Enable I2C driver framework"
    default n
	depends on USE_I2C0 || USE_I2C1 || USE_I2C_GPIO
	help
      Enable I2C driver framework.

if I2C

config I2C_ATCI2C
	bool "AndesTech AndeShape ATCIIC support"
	default y if SOC_SCM2010
	depends on USE_I2C0 || USE_I2C1

config I2C_GPIO
	bool "I2C GPIO bit-bang support"
	default y
	depends on USE_I2C_GPIO

endif

endmenu
